
/* background */
.m-opentip .lay{background:#f9f9f9 url(../img/opentip.png) 100% 4px no-repeat; background-size:127px auto;}
.m-opentip .lay1{background:#f9f9f9 url(../img/opentip_weibo.png) 100% 4px no-repeat; background-size:127px auto;}
.topbar .logo,.m-btmlay .btn::before{background:url(../img/bar.png) no-repeat;}
.m-btn a:after{background:url(../img/btn.png) no-repeat 0 9999px;}
@media screen and (-webkit-min-device-pixel-ratio:1.0104166666666667), screen and (min-resolution:97dpi), screen and (-webkit-min-device-pixel-ratio:1.2)/* other handle */{
	.topbar .logo,.m-btmlay .btn::before{background-image:url(../img/bar_2x.png); background-size:75px auto;}
	.m-btn a:after{background-image:url(../img/btn_2x.png); background-size:160px auto;}
}
.u-face{background:url(../img/default_user.png) no-repeat;}
.u-cover-alb2:before{background:url(../img/widget/cover_alb_50.png); background-size:10px auto;}

.u-loading{width:20px; height:20px; background:url(../img/common/loading.gif) no-repeat; background-size:20px;}
.m-poplay .icn-ok{background:url(../img/common/lay_ok.png) no-repeat;}
.m-poplay .icn-fail{background:url(../img/common/lay_fail.png) no-repeat;}
.u-arr{display:inline-block;width:8px; height:12px; background:url(../img/common/list_arr.png); background-size:8px auto;}
.m-btmlay-red .btn:before{background:url(../img/btmbar_logo.png) no-repeat; background-size:24px 24px;}


/* Layout */
.g-hasbtm{padding-bottom:60px;}
html,body{background-color:#f1f2f3;}
.s-bgc1{background-color:#f8f8f8;}
.s-bgc2{background-color:#fcfcfd;}

/* 大标题栏 */
.u-bigtit{position:relative; overflow:visible; height:19px; line-height:19px; padding-left:12px; font-size:17px; color:#333;}
.u-bigtit:before{content:''; display:block; position:absolute; top:1px; left:0; width:3px; height:17px; margin-right:9px; border-radius:3px; background:#d33a31;}

/* header */
.topbar{position:relative;height:61px; padding:0 20px; background:#e4e6e8;}
.topbar .logo{float:left; width:41px; height:41px; margin-top:10px; background-position:0 0;}
.topbar .sl{margin-left:50px; padding-top:10px; line-height:23px;}
.topbar .sl h1{font-size:20px;}
.topbar .sl p{font-size:11px; color:#666;}
.topbar .btn{float:right; width:44px; height:19px; margin-top:20px; border-radius:2px; border:1px solid #4688ca; text-align:center; line-height:20px; color:#3681c8; font-size:12px;}
.topbar .btn-open{border:1px solid #d22323; color:#d22323;}
.topbar .mask{position:absolute;top:0;left:0;width:100%;height:100%;}

/* Tab fufei 如有冲突，用此模块 */
.m-tab{background-color:#fdfdfe;}
.m-tab ul,.m-tab ul li, .m-tab ul a{height:40px; line-height:40px;}
.m-tab li{float:left; position:relative;}
/* 中间的线
.m-tab li:after{content:''; display:block; position:absolute; width:2px; height:20px; top:10px; right:0;}  
.m-tab li:last-child:after{display:none;}
 */
.m-tab a{display:block; height:100%; text-align:center; font-size:15px; color:#333;}
.m-tab a em{display:inline-block; position:relative; height:40px; overflow:hidden; padding:0 5px;}
.m-tab a em:after{display:none; content:''; position:absolute; bottom:-2px; left:0; width:100%; height:4px; border-radius:4px; background:#d33a31;}
.m-tab a.z-sel{color:#d33a31;}
.m-tab a.z-sel em:after{display:block;}
.m-tab-2t li{width:50%;}
.m-tab-3t li{width:33.33%;}

/* banner */
.m-banner{width:100%;}
.m-banner img{width:100%;}

/* u-face 头像 */
.u-face{position:relative; border-radius:50%;}
.u-cover{position:relative;}
.u-face img, .u-cover img{display:block; width:100%; height:100%;}
.u-face:after, .u-cover:after{content:''; position:absolute; width:200%; height:200%; left:0; top:0; box-sizing:border-box; border-radius:50%; border:1px solid rgba(0,0,0,0.2); -webkit-transform:scale(0.5); -webkit-transform-origin:left top;  -moz-transform:scale(0.5); -moz-transform-origin:left top; -webkit-transform:scale(0.5); -ms-transform:scale(0.5); transform:scale(0.5); -webkit-transform-origin:left top; -ms-transform-origin:left top; transform-origin:left top;}
.u-cover:after{border-radius:0;}
.u-face img{border-radius:50%;}
.u-face-0{width:30px; height:30px; background-size:30px auto;}
.u-face-1{width:50px; height:50px; background-size:50px auto;}
.u-cover-alb2{width:50px; height:50px;}
.u-cover-alb2:before{content:''; position:absolute; top:0; right:-10px; display:block; width:10px; height:50px;}

/* btns */
.m-btn{width:295px;  margin:0 auto;}
.m-btn-1{padding:20px 0;}
.m-btn a{display:block; position:relative; float:left; width:140px; height:45px; border-radius:4px; border:1px solid;}
.m-btn a:hover{ text-decoration:none;}
.m-btn a:after{position:absolute; content:'';top:50%; left:50%;}
.m-btn a.btn1{background-position:0 -295px; text-indent:-9999px; border-color:#4182c5 #2c69a6 #1a538c; box-shadow:inset 0 0 1px rgba(255,255,255,0.7);
	background:-webkit-linear-gradient(#589be0, #3076be);
	background:linear-gradient(#589be0, #3076be);
}
.m-btn a.btn1:after{width:112px; height:24px; margin:-12px 0 0 -56px; background-position:0 0;}
.m-btn a.btn2{float:right; background-position:0 -345px; text-indent:-9999px; border-color:#bfbfc6; box-shadow:inset 0 0 1px rgba(255,255,255,1);
	background:-webkit-linear-gradient(#f4f6f7, #e1e3e5);
	background:linear-gradient(#f4f6f7, #e1e3e5);
}
.m-btn a.btn2:after{width:120px; height:22px; margin:-10px 0 0 -60px; background-position:1px -40px;}
.m-btn a.btn2-1:after{width:102px; height:22px; margin:-10px 0 0 -51px; background-position:0 -80px;}


/* 按钮 各种类型 */
.u-nbtn{display:inline-block; width:100%; border-radius:4px; box-sizing:border-box; text-align:center;}
.u-nbtn-arr{position:relative;}
.u-nbtn-arr i{margin:1px 0 0 10px;}
.u-nbtn.z-dis{pointer-events:none;}

/* 实心蓝色 */
.u-nbtn-blue, .u-nbtn-red{width:100%; height:40px; background:#328ad4;  line-height:40px; color:#fff;}
/* 实心红色 */
.u-nbtn-red{background:#d43b32;}
.u-nbtn-red:active, .u-nbtn-red:visited{ color:#fff;}
/* 空心红色 */
.u-nbtn-red2{height:34px; line-height:34px; border:1px solid #d43b32; color:#d43b32;}
.u-nbtn-red2.z-dis{color:#aaa; border-color:#dddddd; background:transparent;}
/* 空心灰色 */
.u-nbtn-gray2{height:40px; border:1px solid #c8c7cc; line-height:40px;}

/* Icons */
.u-icn{display:inline-block; vertical-align: middle;}
.u-icn-vip, .u-icn-yyr, .u-icn-daren{width:16px; height:16px;}
.u-icn-vip_let, .u-icn-yyr_let, .u-icn-daren_let{width:15px; height:15px;}
.u-icn-vip_let{background:url(../img/common/v_2x.png); background-size:15px auto;}
.u-icn-yyr_let{fill:#f0483b;}
.u-icn-daren_let{fill:#f9a113;}

/* 开关按钮 switch btn for ios */
.u-switch, .u-checkbox, .u-radio{display:inline-block; vertical-align:middle; position:relative;  box-sizing:border-box; outline:none; -webkit-appearance:none; background-clip:content-box; -webkit-tap-highlight-color:rgba(0,0,0,0)}
.u-switch{width:51px; height:31px; border-radius:16px; border:1px solid #e5e5e5; box-shadow:#fff 0 0 0 16 inset; -webkit-transition:left 0.2s; transition:left 0.2s;  -webkit-transition:border 0.4s, box-shadow 0.4s, background-color 1.2s; transition:border 0.4s, box-shadow 0.4s, background-color 1.2s; cursor:pointer;}
.u-switch:after{content:''; position:absolute; left:0px; top:0px; width:29px; height:29px; border-radius:50%; background:#fff; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06),0 0px 3px rgba(0, 0, 0, 0.2); -webkit-transition:left 0.2s; transition:left 0.2s;}
.u-switch:checked{box-shadow:#d33a31 0 0 0 16px inset; }
.u-switch:checked:after{left:20px;}

/* switch btn for android */
.u-switch-aos{width:37px; height:14px; border-radius:7px; border:none; background:rgba(135, 135, 135, 0.4); -webkit-transition:background-color 1.2s; transition:background-color 1.2s;}
.u-switch-aos:after, .u-switch-aos:checked:after{width:20px; height:20px; box-shadow:0 1px 2px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.05); left:0; top:-3px;}
.u-switch-aos:checked{background:rgba(222, 63, 63, 0.4); box-shadow:none;}
.u-switch-aos:checked:after{background:#de3f3f; left:17px;}
/* switch btn for UWP */
.u-switch-uwp{width:32px; height:16px; border-radius:8px; border-color:#d7d7d7; box-shadow:#fff 0 0 0 8px inset;}
.u-switch-uwp:after{width:10px; height:10px; background:#b1b1b1; box-shadow:none; top:2px; left:3px;}
.u-switch-uwp:checked{border-color:#cc4c4c; box-shadow:#cc4c4c 0 0 0 8px inset;}
.u-switch-uwp:checked:after{background:#fff; left:19px;}

/* loading */
.m-loading .icon{display:block; margin:0 auto;}

/* 垂直居中loading */
.m-loading-2{position:absolute;top:0;left:0;width:100%;height:100%;}
.m-loading-2 .u-loading {margin-bottom:20px;}
.m-loading-2 .wrap{position:absolute;top:50%;left:0;width:100%;margin-top:-30px;color:#888;text-align:center;}

/* pop lay */
.m-poplay{position:fixed; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); -mz-transform:translate(-50%, -50%); transform:translate(-50%, -50%);
  margin-top:-100px; z-index:1000; width:180px; height:116px; border-radius:6px; background:rgba(0, 0, 0, 0.8); color:#fff; text-align:center;}
.m-poplay.f-pa{position:absolute;}
.m-poplay .icn{display:inline-block; width:35px; height:35px; margin:27px 0 6px; background-size:35px;}
.m-poplay-text{width:185px; height:auto; padding:14px 10px; margin-top:0; box-sizing:border-box; line-height:1.4; font-size:15px; color:#ccc;}

/* 输入框 */
.u-txt{width:100%;  height:45px; box-sizing:border-box; padding:16px 10px 12px; background:#fff; border-radius:4px; border:1px solid #c8c7cc; line-height:18px; font-size:17px; -webkit-appearance:none; -webkit-tap-highlight-color:transparent;}
.u-txt::-webkit-input-placeholder, .u-txt:-ms-input-placeholder{color:#d0d0d0;}
.u-txt + .clear{position:absolute;top:15px;right:8px;width:14px;height:14px;background-position:-40px -40px;background-image:url(../img/common/uicommon_2x.png);background-size:106px auto;}
.u-txt + .clear:after{content:'';left:-8px;top:-8px;position:absolute;width:30px;height:30px;}

/* footer */
.m-note{margin-top:10px; font-size:13px; line-height:35px; text-shadow:0 1px 0 #fff; color:#999; text-align:center;}
footer{height:43px; margin:0 20px; margin-top:50px; padding-top:8px; border-top:1px dotted #d7d9db; text-align:center; font-size:12px;}
footer.pa{position:absolute; bottom:0; left:50%; margin-left:-133px;}
footer p{height:42px; padding-top:6px; font-size:10px; color:#999; text-shadow:1px 1px 0px #fff;}
footer .sep{margin:0 3px;}

/* btnlay */
.m-btmlay{position:fixed; z-index:200; bottom:0; left:0; right:0; width:100%;  text-align:center;}
.m-btmlay .btn{display:block; width:100%; height:45px; background:#3077ba; color:#fff; font-size:17px; text-align:center; line-height:45px;}
.m-btmlay .btn::before{display:inline-block; content:''; width:28px; height:22px; margin-top:-2px; background-position:-50px -10px; vertical-align:middle;}
.m-btmlay-red{height:auto;}
.m-btmlay-red .btn:before{width:28px; height:24px; margin-top:-4px; background-position:0 0;}
.m-btmlay-red .btn{height:40px; line-height:39px; border-radius:20px; background:#d33a31; font-size:16px;}
.m-index .m-copyright{margin-top:35px;padding:20px 0;border-top:1px dotted #d7d9db;color:#666;font-size:10px;}

.m-btmbar{position:fixed; left:0; bottom:0; right:0; height:54px; background-color:#fff;}

.m-mask{position:fixed;top:0;bottom:0;left:0;right:0;width:100%;height:100%;background-color:#000;opacity:0.8;z-index:300;}
.m-opentip{position:fixed; height:144px; top:0; left:10px; right:10px; z-index:301;}
.m-opentip .lay,.m-opentip .lay1{width:100%; height:120px;border-radius:0 0 8px 8px;}
.m-opentip .note{float:right; margin:39px 58px 0 0; width:160px; line-height:20px;}
.m-opentip h3{font-size:20px; margin-bottom:6px; font-weight:normal;}
.m-opentip p{font-size:14px;}

/* screen mask */
.u-mask {position:fixed;top:0;left:0;bottom:0;right:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.96);z-index:100;}
.u-mask.u-mask-light {background:rgba(0, 0, 0, 0.5);}

/* 分享页评论 */
.m-talk  .tit {font-size:12px;height:23px;line-height:25px;padding-left:10px;color:#333;background-color:#dcdcdc;}
.m-talk  .tit span {margin-left:9px;color:#888;}
.m-talk li {padding-bottom:0;}
.m-talk .pro {position:relative;z-index:1;min-height:47px;}
.m-talk .pro img {position:absolute;left:10px;top:0;bottom:0;margin:auto 0; width:30px;height:30px;border-radius:15px;}
.m-talk .pro .nt {margin-left:50px;}
.m-talk .pro .na {font-size:13px;color:#666;padding-top:10px;margin-right:80px; }
.m-talk .pro .na a {color:#666;}
.m-talk .pro .ti {top:-1px;font-size:9px;color:#999;}
.m-talk .pro .za {position:absolute;right:10px;top:9px;font-size:12px;color:#999;}
.m-talk .pro .za a,.m-talk .pro .za i {margin-left:4px;margin-bottom:-2px;background-image:url(../img/share/za_2x.png);background-repeat:no-repeat; background-size:100%;display:inline-block;width:15px;height:15px; }
.m-talk .pro .za-1 {color:#d33a31;}
.m-talk .pro .za-1 i{background-image:url(../img/share/zah_2x.png);}
.m-talk .msg {margin-left:50px;padding:2px 10px 13px 0;font-size:14px;color:#333;word-wrap:break-word;word-break:break-all;white-space:normal;}
.m-talk .msg:after{border-bottom:1px solid #e1e2e3;}
.m-talk .msg img {vertical-align:middle; margin-top:-2px;}
.m-talk .more {display:block;padding:16px 0;font-size:14px;text-align:center;}
.m-talk .more i { width:6px;height:11px; background:url(../img/share/gt.png);background-repeat:no-repeat; background-size:100%;display:inline-block;margin-left:5px;}

/* 新版分享着陆页，背景为模糊封面 */
.m-talk-1 {margin-top:45px;}
.m-talk-1 .tit {color:#ccc;background-color:rgba(255,255,255,.05);}
.m-talk-1 .pro .na {color:rgba(255,255,255,.7);}
.m-talk-1 .pro .ti {color:rgba(255,255,255,.3);}
.m-talk-1 .msg {color:#fff;}
.m-talk-1 .msg:after{border-bottom:1px solid rgba(255,255,255,.1);}
.m-talk-1 .more {border:none;padding:30px 0 45px;color:#fff;text-decoration:underline;}
.m-talk-1 .none {display:block;padding:0 0 34px;color:#fff;text-align:center;font-size:16px;line-height:40px;}

/* 评论浮于碟片上 */
.m-talk-1-2{position:relative;display:none;margin-top:0;min-height:100%;opacity:0;-webkit-transition:opacity .2s;transition:opacity .2s;}
.m-talk-1-2 .none{position:absolute;top:50%;left:0;width:100%;margin-top:-57px;}
.m-talk-1-2 .more{padding-bottom:10px;}
.z-show .m-talk-1-2{opacity:1;display:block;}

/* 链接遮罩的样式 */
.m-link{position:absolute;left:0;top:0;width:100%;height:100%;}

/* 通用列表基本样式 */
.m-list li{height:55px; padding:0 10px; overflow:hidden; position:relative;}/* 高度，左边距可修改 */
.m-list li:after{left:10px;}/* 线的起始位置可修改 */
.m-list li .arr{display:block; position:absolute; top:50%; right:10px; margin-top:-6px;}


/* ip6+ */
@media screen and (-webkit-min-device-pixel-ratio:2.5){
	.m-talk .pro .za a {background-image:url(../img/share/za_3x.png);}
	.u-cover-alb2:before{background-image:url(../img/widget/cover_alb_50_3x.png);}
	//图标
	.u-vip_l{background-image:url(../img/member/v_3x.png);}
}

@media screen and (min-width:667px){
	.m-btn{width:400px;margin-top:37px;}
	.m-btn a{width:180px; height:50px;}
	.m-note{margin-top:40px; font-size:14px;}
	footer p{font-size:14px;}
}

@media screen and (min-width:667px) and (-webkit-min-device-pixel-ratio:1.2){
	header .logo,header .btn{background-image:url(../img/head_ipad_2x.png); background-size:120px auto;}
}
